{% extends 'store/base.html' %}
{% block content %}
<h1>All Books</h1>
<div class="row">
    {% for book in books %}
    <div class="col-md-4 mb-4">
        <div class="card h-100">
            {% if book.cover_image %}
            <img src="{{ book.cover_image.url }}" class="card-img-top" alt="{{ book.title }}">
            {% endif %}
            <div class="card-body">
                <h5 class="card-title">{{ book.title }}</h5>
                <p class="card-text">By {{ book.author }}</p>
                <p class="card-text">₹{{ book.price }}</p>
                <a href="{% url 'book_detail' book.id %}" class="btn btn-primary">Details</a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}